{% extends '_base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/company_dashboard.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    {% block title %}
    <title>{{ company.name }}- Yönetim Paneli</title>
    {% endblock title %}       
</head>
<style>
  .c_title {
    border-bottom: 4px solid #000; /* 1px kalınlığında siyah çizgi */
    width: 50%;
}
</style>
<div class="container my-5">
    <div class="row align-items-center mb-4">
        <div class="col">
            <h1 class="c_title"><i class="fas fa-building"></i> {{ company.name }}  {{request.ldap_user.username}} - Dashboard</h1>
        </div>
        <div class="col-auto">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-cloud-download-alt btn-icon"></i> Kullanıcıları Çek ve Senkronize Et
                </button>
            </form>
        </div>
    </div>
    <div class="row" id="company_info_row">
        <div class="col-md-6">
            <p id="company_info">Şirket adı: <strong> {{ company.name }}</strong></p>
            <p id="company_info">Şirketin sahibi:<strong> {{ company.owner }}</strong></p>
            <p id="company_info">Şirket Adres: <strong>{{ company.address }}</strong></p>
            <p id="company_info">Şirket Telefon:<strong> {{ company.phone }}</strong></p>
            <p id="company_info">Şirket Email: <strong>{{ company.email }}</strong></p>
            <p id="company_info">Şirket Şehir: <strong>{{ company.city }}</strong></p>
            <p id="company_info">Şirket Ülke: <strong>{{ company.country }}</strong></p>
        </div>
        <div class="col-md-6">
            <p id="company_info">Şirket Anlaşma tarihi:<strong> {{ company.contract_start_date }}</strong></p>
            <p id="company_info">Şirket Anlaşma bitiş tarihi:<strong> {{ company.contract_end_date }}</strong></p>
            <p id="company_info">Şirket Kodu:<strong> {{ company.code }} </strong></p>
            <p id="company_info">Şirket Active Directory Server: <strong>{{ ldap_configs.ldap_server }}</strong></p>
            <p id="company_info">Şirket AD | Admin Kullanıcı Adı: <strong>{{ ldap_configs.bind_username }}</strong></p>
            <p id="company_info">Şirket AD | Admin Şifresi: <strong>{{ ldap_configs.bind_password }}</strong></p>
            <p id="company_info">Şirket AD | Admin Domaini: <strong>{{ ldap_configs.base_dn }}</strong></p>
        </div>
        <hr>
        <form action="{% url 'edit_ldap_config' company.code %}" method="POST">
            {% csrf_token %}
        <div class="mb-3">
            <label for="basic-url" class="form-label">Active Directory Server IP : </label>
            <div class="input-group">
              <input type="text" class="form-control" name="ldap_server"value="{{ldap_configs.ldap_server}}" id="basic-url">
            </div>
          </div>
          <div class="mb-3">
            <label for="basic-url" class="form-label">Active Directory Kullanıcı adı : </label>
            <div class="input-group">
              <input type="text" class="form-control" value="{{ldap_configs.bind_username}}" name="bind_username" id="basic-url" >
            </div>
          </div>
          <div class="mb-3">
            <label for="basic-url" class="form-label">Active Directory Kullanıcı Şifresi : </label>
            <div class="input-group">
              <input type="text" class="form-control" name ="bind_password" value="{{ldap_configs.bind_password}}" >
            </div>
          </div>
          <div class="mb-3">
            <label for="basic-url" class="form-label">Active Directory Admin Domani : </label>
            <div class="input-group">
              <input type="text" class="form-control" value="{{ldap_configs.base_dn}}" name="base_dn">
            </div>
          </div>
          <div class="mb-3">
            <label for="basic-url" class="form-label">Active Directory Admin Domani : </label>
            <div class="input-group">
              <input type="text" class="form-control" name="bind_dn" value="{{ldap_configs.bind_dn}}">
            </div>
          </div>
          <button type = "submit" class="btn btn-success">Kayıt</button>
        </form>
    </div>
</div>

{% endblock content %}
